/* Загальний стиль тіла сторінки */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Встановлення шрифту */
    background-color: #f5f5f5; /* Колір фону */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Встановлення висоти на весь екран */
    background-image: url("img/main_login_body_photo.jpg"); /* Зображення тла */
    background-size: cover; /* Масштабування тла для покриття екрану */
}

/* Стилі для контейнера входу */
.login-container {
    background-color: #fff; /* Колір фону контейнера */
    border-radius: 8px; /* Закругленість кутів */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь контейнера */
    padding: 30px; /* Відступи всередині контейнера */
    width: 300px; /* Ширина контейнера */
    text-align: center; /* Вирівнювання тексту по центру */
}

/* Стилі для заголовка h2 */
h2 {
    color: #333; /* Колір тексту */
}

/* Стилі для групи введення */
.input-group {
    margin-bottom: 20px; /* Відступ між групами введення */
    text-align: left; /* Вирівнювання тексту по лівому краю */
}

/* Стилі для мітки (label) */
label {
    display: block; /* Встановлення блочного відображення */
    font-size: 14px; /* Розмір шрифту */
    margin-bottom: 8px; /* Відступ між мітками */
    color: #555; /* Колір тексту */
}

/* Стилі для полів введення (input) */
input {
    width: 100%; /* Розтягнення на всю ширину батьківського контейнера */
    padding: 10px; /* Внутрішні відступи */
    box-sizing: border-box; /* Збереження загального розміру, включаючи рамку */
    border: 1px solid #ccc; /* Товщина та колір рамки */
    border-radius: 4px; /* Закругленість кутів */
}

/* Стилі для кнопки при наведенні курсору */
button:hover {
    text-decoration: underline; /* Підкреслення тексту при наведенні на кнопку */
}

/* Стилі для кнопки входу */
.button_login {
    width: 100%; /* Розтягнення на всю ширину батьківського контейнера */
    padding: 10px; /* Внутрішні відступи */
    background-color: #4caf50; /* Колір фону кнопки */
    color: #fff; /* Колір тексту */
    border: none; /* Відсутність рамки */
    border-radius: 4px; /* Закругленість кутів */
    cursor: pointer; /* Зміна вигляду курсору при наведенні на кнопку */
    font-size: 16px; /* Розмір шрифту */
}

/* Стилі для кнопки показу/приховування паролю */
.button_showpassword {
    width: 100%; /* Розтягнення на всю ширину батьківського контейнера */
    height: 20px; /* Висота кнопки */
}