/* Загальні стилі для тіла сторінки */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Встановлення шрифту */
    background-color: #f5f5f5; /* Колір фону */
    margin: 0; /* Відсутність зовнішніх відступів */
    padding: 20px; /* Внутрішні відступи */
    text-align: center; /* Вирівнювання тексту по центру */
}

/* Стилі для форми */
form {
    max-width: 600px; /* Максимальна ширина форми */
    margin: 0 auto; /* Автоматичне вирівнювання за центром */
    background-color: #fff; /* Колір фону форми */
    padding: 20px; /* Внутрішні відступи форми */
    border-radius: 8px; /* Закругленість кутів форми */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь форми */
}

/* Стилі для міток (labels) */
label {
    display: block; /* Встановлення блочного відображення */
    margin-bottom: 8px; /* Відступ між мітками */
    font-size: 16px; /* Розмір шрифту */
    text-align: left; /* Вирівнювання тексту по лівому краю */
}

/* Стилі для полів введення, текстових полів та вибіркових списків */
input, textarea, select {
    width: 100%; /* Розтягнення на всю ширину батьківського контейнера */
    padding: 10px; /* Внутрішні відступи */
    margin-bottom: 16px; /* Відступ між елементами форми */
    box-sizing: border-box; /* Збереження загального розміру, включаючи рамку */
    border: 1px solid #ccc; /* Товщина та колір рамки */
    border-radius: 4px; /* Закругленість кутів */
}

/* Стилі для кнопки */
button {
    background-color: #4caf50; /* Колір фону кнопки */
    color: #fff; /* Колір тексту */
    padding: 10px 20px; /* Внутрішні відступи */
    border: none; /* Відсутність рамки */
    border-radius: 4px; /* Закругленість кутів */
    cursor: pointer; /* Зміна вигляду курсору при наведенні на кнопку */
    font-size: 16px; /* Розмір шрифту */
}

/* Стилі для кнопки при наведенні курсору */
button:hover {
    background-color: #45a049; /* Колір фону при наведенні */
}